.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* top se bottom tak */
    height: 100vh;
}

.loginContainer > h1{
    font-size: 4rem;
    text-transform: uppercase;
    text-decoration: underline;
    
}

.loginContainer > form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #a3a3a3;
    padding: 2em;
    min-width: 25%;
    max-width: 35%;
    border-radius: 7px;
}

.loginContainer > form > label {
    color: #3e3e3e;
    font-weight: bold;
}

.loginContainer > form > input {
    padding: 12px 15px;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid #3e3e3e;
}

.loginContainer > form > button {
    border: none;
    padding: 12px 15px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #3e3e3e;
    border-radius: 7px;
}